/*mobile view*/
/* Tope's mobile start*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tnw {
    margin: 0;
    width: 90px;
    height: 50px;
}

.navlist-subcontainer {
    display: none;
}

.header-list{
    display: none;
}

.nav-icons {
    display: block;
}

.search {
    padding: 12px;
    border-right: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    color: darkgrey;
}

.menu {
    padding: 5px;
    color: #f42;
    padding: 12px;
}

.menu1 {
    text-decoration: none;
}

.header-text {
    margin-top: -20px;
}

.text {
    background-color: #ffea00;
    padding: 15px;
}

.text2 {
    display: none;
}

.m-dots {
    text-decoration: none;
}
/* Tope's mobile end*/

/*Azeez Mobile start*/
.imgs {
    align-content: space-between;
}

.flex-sub-container {
    align-content: space-between;
}

.item1 {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)), url("../images/image 1.jpeg") no-repeat;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 10px;
}

.opal {
    font-family: Avalon, sans-serif;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    bottom: 50px;
    left: 10px;
    color: white;
}

.google {
    font-family: Avalon, sans-serif;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    bottom: 50px;
    left: 10px;
    color: white;
}

.mobile-author {
    display: flex;
    color: grey;
    position: absolute;
    bottom: 5px;
    left: -28px;
    font-family: Avalon, sans-serif;
    font-size: 15px;
    list-style: none;
  }
  
  .share-time {
    text-decoration: none;
    padding-left: 20px;
  }

  .mobile-a {
    text-decoration: none;
    color: grey;
  }
  
  .fa {
    padding-left: 10px;
  }

  .item2 {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)), url("../images/image 2.jpeg") no-repeat;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 10px;
  }
  
  .item3 {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)), url("../images/image 3.png") no-repeat;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .date-time {
    display: none;
  }
  
/*Azeez Mobile end*/

/*tab view*/
@media screen and (min-width: 768px) {
/* Tope's tab start*/
    .tnw {
        width: 120px;
        height: 100px;
    }

    .nav-links {
        justify-content: flex-start;
    }

    .navlist-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navlist-subcontainer {
        display: flex;
        background-color: black;
        padding-bottom: 5px;
        height: 49px;
    }

    .nav-list {
        display: flex;
        color: darkgrey;
        justify-content: space-between;
        list-style: none;
        width: -webkit-fill-available;
        padding: 10px;
        padding-top: 0;
    }

    .sub-list1 {
        display: flex;
        column-gap: 1em;
        font-size: 14px;
        margin-left: 25px;
    }

    #news {
        color: white;
    }

    .sub-list2 {
        display: flex;
        column-gap: 1em;
        font-size: 14px;
    }

    .spacing {
        padding-right: 12px;
    }

    .header-list-container{
        display: flex;
        justify-content: space-between;
    }

    .header-list{
        display: flex;
        justify-content: space-between;
        list-style: none;
        column-gap: 1em;
        color: darkgrey;
    }

    #shift {
        display: none;
    }

    #neural {
        display: none;
    }

    .menu {
        display: none;
    }

    .nav-icons {
        display: flex;
    }

    .text {
        padding-left: 160px;
        height: 11px;
    }

    .m-dots {
        display: none;
    }

    .text2 {
        display: block;
        width: 15%;
        position: relative;
        left: 29em;
        bottom: 1.73em;
    }

    .arrow {
        position: relative;
        top: 0.3em;
    }
/* Tope's tab end*/

/* Azeez's tab start*/
    .imgs {
        display: flex;
    }

    .item1 {
        background-image: linear-gradient(rgba(238, 12, 12, 0.356), rgba(0, 0, 0, 1)), url("../images/image 1.jpeg");
        background-repeat: no-repeat;
        width: 70%;
        height: 350px;
        margin-left: 5px;
    }

    .opal {
        font-size: 30px;
        position: absolute;
        bottom: 70px;
    }

    .flex-sub-container {
        display: block;
        width: 30%;
        margin-left: 10px;
        margin-right: 5px;
    }

    .item2 {
        height: 170px;
}

    .item3 {
        height: 170px;
        margin-top: 10px;
    }

    .mobile-author {
        display: flex;
        font-size: 10px;
    }

    .google {
        font-size: 15px;
    }

    .date-time {
        display: none;
    }

/* Azeez's tab end*/
}

/*desktop view*/
@media screen and (min-width: 1024px) {
/* Tope's desktop start*/
    .tnw-logo {
        display: none;
    }

    .header-list {
        color: darkgrey;
    }

    #shift {
        display: block;
    }

    #neural {
        display: block;
    }

    .text {
        padding-left: 40px;
    }
/* Tope's desktop end*/

/*Azeez's desktop start*/
    .imgs {
        display: flex;
    }

    .date-time {
        display: flex;
    }

    .date {
        position: absolute;
        right: 20px;
        top: 20px;
        color: white;
    }

    .tnw-i1 {
        width: 320px;
        height: 100px;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .item1 {
        background-image: linear-gradient(rgba(238, 12, 12, 0.356), rgba(0, 0, 0, 1)), url("../images/image 1.jpeg");
        background-repeat: no-repeat;
        width: 70%;
        height: 350px;
        margin-left: 5px;
        margin-bottom: 0;
    }

    .opal {
        font-size: 40px;
        position: absolute;
        bottom: 55px;
    }

    .item2 {
        height: 170px;
        margin-bottom: 0;
    }

    .item3 {
        height: 170px;
        margin-top: 10px;
    }

    .flex-sub-container {
        display: block;
        width: 30%;
        margin-left: 10px;
        margin-right: 5px;
    }

    .google {
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 20px;
    }

    .mobile-author {
        font-size: 13px;
    }

    .mobile-a:hover {
        color: white;
    }

/*Azeez's desktop end*/
}

/*soliu start */

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: 5%;
}

.category-item {
    display: flex;
    width: 90%;
    height: 100%;
}
